

.userbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    background-color: var(--background);

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    &.error{
        color: red;
    }

    .userbarLeft{
        display: flex;
        
        img{
            width: 55px;
            height: auto;
        }

        div{
            margin-left: 1rem;

            span{
                display: block;
                margin-bottom: 1rem;
            }
        }

    }

    .userbarRight{
        text-align: right;
        a{
            margin-bottom: 0.5rem;
            display: block;

            @media screen and (min-width: 500px) {
                margin-bottom: 0rem;
                margin-left: 1rem;
                display: inline;
            }
        }

    }
}