:root {
  --max-width: 800px;
  --background: #ececec;
  --color: #222;
  --linkColor: #3fa1d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --color: #ececec;
  }  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next, 
#__next > main {
  max-width: 100vw;
  height: 100%;
}

body {
  color: var(--color);
  background: var(--background)
}

a {
  color: inherit;
  text-decoration: underline;
  color: var(--linkColor);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
